@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Fonts */
  --heading-font: "Bebas Neue", cursive;
  --text-font: "Roboto", sans-serif;
  /* Typography Colors */
  --color-black: #222;
  --color-white: #fefefe;
  --color-grey: #888;
  /* Hues */
  --color-background: #ffdca8;
  --color-blue: #489de3;
  --color-green: #67dc85;
  --color-mustard: #e2c541;
  /* Positioning */
  --container-width: 960px;
  /* Shadows */
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgb(51, 51, 51) 4px 2px 0px 1px;
}

html {
  font-size: 100%;
}

html,
body {
  font-family: var(--text-font);
  color: var(--color-black);
  background-color: var(--color-background);
  line-height: 1.3;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  letter-spacing: 0.2px;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.page__container {
  min-height: calc(100vh - 90px);
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.btn {
  display: block;
  width: fit-content;
  background-color: var(--color-blue);
  color: var(--color-black);
  padding: 0.875rem 1.5rem;
  border: 4px solid var(--color-black);
  box-shadow: var(--shadow);
  margin: 1rem auto;
  text-align: center;
}
.card {
  width: 300px;
  background-color: var(--color-white);
  border: 4px solid var(--color-black);
  box-shadow: var(--shadow);
  border-radius: 2px;
}

.card__title {
  text-align: center;
  background-color: var(--color-green);
  border-bottom: 4px solid var(--color-black);
}

.card__content {
  display: grid;
  text-align: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.hue {
  background-color: var(--color-mustard);
}

/* 
***************************************************************************************************************************
                    NAVBAR COMPONENT STYLES
***************************************************************************************************************************
*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.navbar__logo {
  font-size: 24px;
  position: relative;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 8px 16px;
  padding-bottom: 16px;
}

.navbar__logo:hover {
  cursor: pointer;
}
.navbar__links {
  display: flex;
  gap: 1rem;
  font-family: var(--heading-font);
  font-size: 1.5rem;
}
.navbar__logo-subtitle {
  display: block;
  position: absolute;
  font-size: 11px;
  top: 50px;
}

.navbar__toggle-wrapper {
  display: none;
  cursor: pointer;
}

.navbar__mobile {
  position: absolute;
  background-color: var(--color-background);
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  place-items: center;
  z-index: 4;
}

.navbar__mobile-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
  font-family: var(--heading-font);
  font-size: 1.5rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media screen and (min-width: 590px) {
  .navbar__mobile {
    display: none;
  }
}

@media screen and (max-width: 590px) {
  .navbar__links {
    display: none;
  }
  .navbar__toggle-wrapper {
    display: block;
  }
  .navbar__mobile {
    display: grid;
  }
}

/* 
***************************************************************************************************************************
                    MAIN PAGE STYLES
***************************************************************************************************************************
*/

.hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero__title {
  font-size: 3.4rem;
  margin-bottom: 1.75rem;
}
.hero__image-container {
  width: 100%;
  max-width: 480px;
  align-self: center;
}
.hero__quick-info p {
  font-size: 18px;
  width: 100%;
  margin-top: 1.5rem;
  line-height: 1.3;
  letter-spacing: 1px;
}
.hero__quick-info .btn {
  margin-top: 2rem;
}

.hero__cards {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 570px) {
  .hero__cards {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .btn {
    margin-left: 0;
  }
  .footer__links {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 840px) {
  .hero {
    flex-direction: row;
    margin-top: 1rem;
  }
}
/* 
***************************************************************************************************************************
                    FOOTER COMPONENT STYLES
***************************************************************************************************************************
*/
footer {
  text-align: left;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-size: 70%;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.footer a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
  transition-duration: 350ms;
}

.footer a:hover {
  color: #444;
}
.footer__copyright {
  width: 50%;
  font-size: 10px;
  text-align: center;
  padding-top: 3rem;
  margin: 0 auto;
}
@media screen and (min-width: 570px) {
  .footer__links {
    justify-content: flex-start;
  }
}

/* 
***************************************************************************************************************************
                    CONTACT PAGE STYLES
***************************************************************************************************************************
*/

.form__control {
  position: relative;
  margin: 1.5rem 0;
}

.input-text {
  font-size: 16px;
  width: 100%;
  height: 50px;
  color: var(--color-black);
  padding-left: 9px;
}

select {
  font-size: 16px;
  width: 100%;
  height: 50px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-left: 9px;
  background-color: transparent;
  outline: none;
  color: var(--color-black);
  border: 1px solid var(--color-grey);
}
.service__label {
  font-size: 11px;
}
.floating-text {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
}
textarea {
  color: var(--color-black);
  font-family: inherit;
  padding-top: 5px;
  padding-left: 9px;
  font-size: 16px;
  width: 100%;
  height: 100px;
  outline: none;
  resize: none;
}

input {
  outline: none;
}

.form__control .floating-text {
  top: -20px;
  left: 0;
  font-size: 11px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.contact__info {
  flex-grow: 1;
  letter-spacing: 2px;
}

.contact__info p {
  margin-top: 2rem;
}

.contact__form {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1.5rem;
  border-radius: 2px;
  border: 4px solid black;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgb(51, 51, 51) 4px 2px 0px 1px;
}
.contact__form h3 {
  color: var(--color-black);
}
.form__services {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.form__services-group {
  display: flex;
  gap: 2rem;
}

.form__btn {
  width: 100%;
  cursor: pointer;
}
.form__radio-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact__img {
  margin: 4rem auto;
}

/* 
***************************************************************************************************************************
                    PROJECTS PAGE STYLES
***************************************************************************************************************************
*/

.projects {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.projects .card {
  width: 320px;
  position: relative;
  cursor: pointer;
}
.projects .card__title {
  margin-bottom: 0;
}
.projects .card__description {
  padding: 1rem;
  letter-spacing: 1px;
}
.features {
  padding: 0.75rem;
}
.features span {
  background-color: var(--color-green);
  font-family: var(--heading-font);
  font-size: 20px;
  display: inline-block;
  padding: 0.1rem 0.3rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.projects .card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 101%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 350ms;
  opacity: 0;
  z-index: 2;
}
.projects .card::before {
  content: "Show More";
  font-family: var(--heading-font);
  font-size: 18px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-green);
  padding: 0.5rem;
  opacity: 0;
}
.projects .card:hover::after {
  opacity: 1;
}
.projects .card:hover::before {
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .contact {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

/* 
***************************************************************************************************************************
                    COLLAB PAGE STYLES
***************************************************************************************************************************
*/

.collab__desc {
  font-size: 18px;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.collab__links {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.collab__links a {
  display: block;
  min-width: 200px;
  margin: 0 auto;
}
